<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Ahhhnold</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/BGRicker">Ben</a>. A web developer student looking to exit corporate IT and get into web development full time.
  </p>
  <br />
  <p>
    Arnold has terrified hundreds of humans at places like the gym, movie sets, government functions, and public places in general.
  </p>
</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'ben.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ben Ricker</h2>
    <br />
    <p>
      Ben works in downtown Boston in IT, and has been working in other IT environments for years. It's very boring and is mostly involves staring at servers and teaching staff to use Microsoft Word, so he's looking to learn web development to change careers!
    </p>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />